SBOMScanner/ip.txt
SBOMScanner/results.json
SBOMScanner/results_abridged.json
SBOMScanner/vulnerabilities.json
SBOMScanner/vulners_api_key.txt

SBOMScanner/NVD_Scanner/nvd_feeds
SBOMScanner/NVD_Scanner/all_cves.json
SBOMScanner/NVD_Scanner/all_cves_by_date.json
SBOMScanner/NVD_Scanner/all_cves_by_date_normalized.json
SBOMScanner/NVD_Scanner/ssh_linux.txt
SBOMScanner/NVD_Scanner/ssh_windows_local.txt
SBOMScanner/NVD_Scanner/ssh_windows_vm.txt
SBOMScanner/NVD_Scanner/results.json
SBOMScanner/NVD_Scanner/results_abridged.json
SBOMScanner/NVD_Scanner/matched.json
SBOMScanner/NVD_Scanner/description_testing.json
SBOMScanner/NVD_Scanner/vulnerabilities.json
SBOMScanner/NVD_Scanner/vuln_weights.json

SBOMScanner/all_ALBAJSON
SBOMScanner/all_cves_by_date.json

SBOMScanner/Combined_Scanner/qiskit-env
SBOMScanner/Combined_Scanner/venv
